In [49]:
import pandas as pd
from validator import validate

# 1. read and process raw data

In [14]:
read_folder = r'C:\1-Data\Social connectedness index'
save_folder = r'C:\2-Case studies\social connectedness'

In [40]:
# import the data sheets
df_countries = pd.read_table(read_folder + '\\' + r'countries-countries-fb-social-connectedness-index-october-2021.tsv')
df_nuts2 = pd.read_table(read_folder + '\\' + r'gadm1_nuts2-gadm1_nuts2-fb-social-connectedness-index-october-2021.tsv')
df_nuts3 = pd.read_table(read_folder + '\\' + r'gadm1_nuts3_counties-gadm1_nuts3_counties - FB Social Connectedness Index - October 2021.tsv')
gadm_nuts2 = pd.read_csv(read_folder + '\\' + 'gadm1_nuts2_levels.csv')
gadm_nuts3 = pd.read_csv(read_folder + '\\' + 'gadm1_nuts3_counties_levels.csv')

In [41]:
df_countries['geo_source'] = 'NUTS2016'
df_countries['obsTime'] = 'Oct. 2021'
df_countries.rename(columns={'user_loc':'geo', 'fr_loc':'friend_geo', 'scaled_sci':'obsValue'}, inplace=True)

In [42]:
df_nuts2['geo_source'] = 'NUTS2016'
df_nuts2['obsTime'] = 'Oct. 2021'
df_nuts2.rename(columns={'user_loc':'geo', 'fr_loc':'friend_geo', 'scaled_sci':'obsValue'}, inplace=True)

# remove values that are based on GDAM levels
list_nuts2 = list(gadm_nuts2[gadm_nuts2['level']=='nuts2']['key'].values)
df_nuts2_sim = df_nuts2[(df_nuts2['geo'].isin(list_nuts2))&(df_nuts2['friend_geo'].isin(list_nuts2))]

In [43]:
df_nuts3['geo_source'] = 'NUTS2016'
df_nuts3['obsTime'] = 'Oct. 2021'
df_nuts3.rename(columns={'user_loc':'geo', 'fr_loc':'friend_geo', 'scaled_sci':'obsValue'}, inplace=True)

# remove values that are based on GDAM levels
list_nuts3 = list(gadm_nuts3[gadm_nuts3['level']=='nuts3']['key'].values)
df_nuts3_sim = df_nuts3[(df_nuts3['geo'].isin(list_nuts3))&(df_nuts3['friend_geo'].isin(list_nuts3))]

# 2. concatenante and reformat the table

In [54]:
df_nuts = pd.concat([df_countries, df_nuts2_sim, df_nuts3_sim])
df_nuts['id'] = df_nuts.reset_index().index
df_nuts = df_nuts[['id'] + [i for i in df_nuts.columns if i not in ['geo_source', 'id']]+['geo_source']]

In [62]:
df_nuts.to_csv(save_folder + '\\' + 'social connectedness index.csv', index = False)

# 3. Validating data

In [51]:
df_sci = pd.read_csv(r'C:\2-Case studies\social connectedness\social connectedness index.csv')

In [53]:
def get_friend_country(x):
    try:
        country = x[:2]
    except:
        # there are some NA values in friend_geo
        country = x
    return country

In [55]:
df_sci['friend_country'] = df_sci['friend_geo'].apply(lambda x: get_friend_country(x))
df_sci['obsTime'] = 2021

In [56]:
df_sci.to_csv(r'C:\2-Case studies\social connectedness\social connectedness index.csv', index = False)

,id,geo,friend_geo,obsValue,obsTime,geo_source,friend_country
0,0,AE,AE,1117179,2021,NUTS2016,AE
1,1,AE,AG,5488,2021,NUTS2016,AG
2,2,AE,AL,2101,2021,NUTS2016,AL
3,3,AE,AM,3580,2021,NUTS2016,AM
4,4,AE,AO,2326,2021,NUTS2016,AO
...,...,...,...,...,...,...,...
2460928,2460928,UKN16,UKN12,207109,2021,NUTS2016,UK
2460929,2460929,UKN16,UKN13,121056,2021,NUTS2016,UK
2460930,2460930,UKN16,UKN14,140617,2021,NUTS2016,UK
2460931,2460931,UKN16,UKN15,105958,2021,NUTS2016,UK
2460932,2460932,UKN16,UKN16,11050291,2021,NUTS2016,UK